.container{
    background-color:pink;
    width: 1000px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 10px auto;
    /* background-color: rgb(237, 110, 64); */
}
.result{

    height: 40px;
    width: auto;
    margin-top: 40px;
    text-align: center;
    margin: 10px auto;
 margin-left: 50px;
 margin-right: 50px;   
}
.inputFields{
    text-align: center;
    margin: 45px;
    margin-top: 20px;
}

.shadow__btn {
    display: inline;
    margin: 25px;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
   
  }
  
  .shadow__btn {
    color: black;
    background: rgb(251, 252, 252);
   
  }
  

label{
  padding: 5px;
   background:linear-gradient(to left,rgb(244, 247, 247));
   
  
 font-size: larger;
   font-weight: bold;
}
.field {
    background-color: rgb(245, 248, 250);
    border: 2px solid rgb(7, 7, 6);
    border-radius: 10px;
    padding: 10px;
    margin-right: 15px;
}
#rslt{
    background:linear-gradient(to left,rgb(243, 244, 245));
    
    font-size: 28px;
}
#resultValue{
    border: 2px solid #f6f9f7;
      padding: 10px;
    font-size: 28px;
}
#rst{
    margin-left: 40%;}
    .calci{
         height: 40px;
            width: auto;
            margin-top: 40px;
            text-align: center;
            margin: 10px auto;
         margin-left: 50px;
         margin-right: 50px;   
        }
    